<a href="https://colab.research.google.com/github/mazarimono/webdb_notebook/blob/master/chapter-3_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 3章
### COVID-19/家計調査/財政データの整形

In [1]:
import pandas as pd

## 家計調査
### まずはデータを観測してどのようにデータを前処理するか方針を決める

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/mazarimono/webdb_notebook/master/data/h-mon-a.csv', encoding='shift-jis')
df.shape

(188, 251)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Columns: 251 entries, 二人以上の世帯_支出金額[円] to 245
dtypes: object(251)
memory usage: 368.8+ KB

In [4]:
df.head()

  二人以上の世帯_支出金額[円] Unnamed: 1 Unnamed: 2 Unnamed: 3  ...    242    243    244    245
0             NaN        NaN        NaN        NaN  ...    NaN    NaN    NaN    NaN
1             NaN        NaN        NaN        NaN  ...    NaN    NaN    NaN    NaN
2            表側連番         階層        大分類        中分類  ...     2月     3月     4月     5月
3               1          -          -          -  ...  10000  10000  10000  10000
4               2          -          -          -  ...   7475   7489   7534   7430

[5 rows x 251 columns]

In [5]:
df.tail()

    二人以上の世帯_支出金額[円] Unnamed: 1 Unnamed: 2  ...     243     244     245
183             181          -          -  ...     690     751     696
184             182          -          -  ...    8995    8603    9612
185             183          -          -  ...  292214  267922  252017
186             184          -          -  ...  170401  159426  156494
187             185          -          -  ...  121813  108497   95523

[5 rows x 251 columns]

### データを加工

In [6]:
# まずは列ごと取得してみる
year_data = df.loc[0].dropna()
year_data_list = [int(year.replace('年', '')) for year in list(year_data)]
end_month = df.iloc[2, -1]
end_month = int(end_month.replace('月', ''))
print(year_data_list)
print(end_month)

[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
5

In [7]:
# 次に年月のデータを作成し、リストに格納する
month_count = (len(year_data_list) - 1) * 12 + end_month
date_list = pd.date_range('2000', periods=month_count, freq='M')

In [8]:
date_list[-5:]

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31'],
              dtype='datetime64[ns]', freq='M')

In [9]:
kakei_data = df.iloc[3:, 5:]
kakei_data.head()

     Unnamed: 5      1      2      3      4  ...    241    242    243    244    245
3  世帯数分布(抽出率調整)  10000  10000  10000  10000  ...  10000  10000  10000  10000  10000
4         集計世帯数   7887   7942   7934   7922  ...   7443   7475   7489   7534   7430
5       世帯人員(人)   3.32   3.32   3.32   3.32  ...   2.96   2.96   2.96   2.96   2.96
6    18歳未満人員(人)   0.74   0.75   0.75   0.75  ...   0.58   0.58   0.57   0.58   0.58
7    65歳以上人員(人)   0.52   0.53   0.53   0.52  ...   0.82   0.83   0.86   0.86   0.85

[5 rows x 246 columns]

In [10]:
kakei_data = df.iloc[3:, 5:]
kakei_data = kakei_data.set_index('Unnamed: 5')
kakei_data.columns = date_list
kakei_data.index.name = ''
kakei_data = kakei_data.T
kakei_data['date'] = kakei_data.index 
kakei_data = kakei_data.reset_index(drop=True)
kakei_data

    世帯数分布(抽出率調整) 集計世帯数 世帯人員(人) 18歳未満人員(人)  ... 消費支出(再掲)   基礎的支出   選択的支出       date
0          10000  7887    3.32       0.74  ...   309621  184372  125248 2000-01-31
1          10000  7942    3.32       0.75  ...   290663  170045  120618 2000-02-29
2          10000  7934    3.32       0.75  ...   335341  186202  149139 2000-03-31
3          10000  7922    3.32       0.75  ...   335276  173441  161835 2000-04-30
4          10000  7928    3.31       0.75  ...   308566  177153  131413 2000-05-31
..           ...   ...     ...        ...  ...      ...     ...     ...        ...
240        10000  7443    2.96       0.58  ...   287173  167873  119301 2020-01-31
241        10000  7475    2.96       0.58  ...   271735  157888  113847 2020-02-29
242        10000  7489    2.96       0.57  ...   292214  170401  121813 2020-03-31
243        10000  7534    2.96       0.58  ...   267922  159426  108497 2020-04-30
244        10000  7430    2.96       0.58  ...   252017  156494   95523 2020-05-31

[245 rows x 186 columns]

In [12]:
!mkdir data
kakei_data.to_csv('data/kakei_data.csv')

In [13]:
kakei = pd.read_csv('data/kakei_data.csv', index_col=0)
kakei.tail()

     世帯数分布(抽出率調整)  集計世帯数  世帯人員(人)  ...   基礎的支出   選択的支出        date
240         10000   7443     2.96  ...  167873  119301  2020-01-31
241         10000   7475     2.96  ...  157888  113847  2020-02-29
242         10000   7489     2.96  ...  170401  121813  2020-03-31
243         10000   7534     2.96  ...  159426  108497  2020-04-30
244         10000   7430     2.96  ...  156494   95523  2020-05-31

[5 rows x 186 columns]

## 新型コロナ感染者数データ

In [14]:
pd.set_option('max_columns', 60)
csv_url = 'https://dl.dropboxusercontent.com/s/6mztoeb6xf78g5w/COVID-19.csv'
df = pd.read_csv(csv_url, low_memory=False)
print(df.shape)
print(df.info())

(59983, 52)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59983 entries, 0 to 59982
Data columns (total 52 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   通し                59983 non-null  int64
 1   厚労省NO             3694 non-null   object
 2   無症状病原体保有者         910 non-null    object
 3   国内                302 non-null    object
 4   チャーター便            11 non-null     object
 5   年代                59983 non-null  object
 6   性別                59983 non-null  object
 7   確定日               59983 non-null  object
 8   発症日               26862 non-null  object
 9   受診都道府県            59983 non-null  object
 10  居住都道府県            59983 non-null  object
 11  居住                327 non-null    object
 12  居住市区町村            36046 non-null  object
 13  キー                59983 non-null  object
 14  発表                59981 non-null  object
 15  都道府県内症例番号         55839 non-null  object
 16  市町村内症例番号          10626 non-null  object
 17  ステータス             675 non-null    object
 18  備考                3820 non-null   object
 19  ソース               4744 non-null   object
 20  ソース2              45824 non-null  object
 21  ソース3              11472 non-null  object
 22  人数                59983 non-null  int64
 23  累計                211 non-null    float64
 24  前日比               211 non-null    float64
 25  発症数               211 non-null    float64
 26  死者合計              188 non-null    float64
 27  退院数累計             192 non-null    float64
 28  退院数               192 non-null    float64
 29  PCR検査実施人数         170 non-null    float64
 30  PCR検査前日比          168 non-null    float64
 31  職業_正誤確認用          918 non-null    object
 32  勤務先_正誤確認用         55 non-null     object
 33  Hospital Pref     59983 non-null  object
 34  Residential Pref  59983 non-null  object
 35  Release           59981 non-null  object
 36  Gender            59983 non-null  object
 37  X                 59983 non-null  float64
 38  Y                 59983 non-null  float64
 39  確定日YYYYMMDD       59983 non-null  object
 40  受診都道府県コード         59612 non-null  float64
 41  居住都道府県コード         59436 non-null  float64
 42  更新日時              1 non-null      object
 43  Field2            393 non-null    object
 44  Field4            0 non-null      float64
 45  Field5            0 non-null      float64
 46  Field6            0 non-null      float64
 47  Field7            0 non-null      float64
 48  Field8            0 non-null      float64
 49  Field9            0 non-null      float64
 50  Field10           0 non-null      float64
 51  Unnamed: 51       1 non-null      float64
dtypes: float64(20), int64(2), object(30)
memory usage: 23.8+ MB
None

In [15]:
df.head()

,通し,厚労省NO,無症状病原体保有者,国内,チャーター便,年代,性別,確定日,発症日,受診都道府県,居住都道府県,居住,居住市区町村,キー,発表,都道府県内症例番号,市町村内症例番号,ステータス,備考,ソース,ソース2,ソース3,人数,累計,前日比,発症数,死者合計,退院数累計,退院数,PCR検査実施人数,PCR検査前日比,職業_正誤確認用,勤務先_正誤確認用,Hospital Pref,Residential Pref,Release,Gender,X,Y,確定日YYYYMMDD,受診都道府県コード,居住都道府県コード,更新日時,Field2,Field4,Field5,Field6,Field7,Field8,Field9,Field10,Unnamed: 51
0,1,1,NaN,A-1,NaN,30,男性,1/15/2020,1/3/2020,神奈川県,神奈川県,NaN,NaN,神奈川県,神奈川県,1,NaN,退院,NaN,https://www.mhlw.go.jp/stf/newpage_08906.html,https://www.pref.kanagawa.jp/docs/ga4/bukanshi...,NaN,1,1.0,1.0,0.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,Kanagawa,Kanagawa,Kanagawa Prefecture,Male,139.642347,35.447504,2020/1/15,14.0,14.0,8/23/2020 02:14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2,NaN,A-2,NaN,40,男性,1/24/2020,1/14/2020,東京都,中華人民共和国,NaN,NaN,中華人民共和国,東京都,1,NaN,退院または死亡,NaN,https://www.mhlw.go.jp/stf/newpage_09079.html,https://www.metro.tokyo.lg.jp/tosei/hodohappyo...,NaN,1,2.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tokyo,China(Mainland),Tokyo Metropolitan Government,Male,116.409685,39.903832,2020/1/24,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,3,NaN,A-3,NaN,30,女性,1/25/2020,1/21/2020,東京都,中華人民共和国,NaN,NaN,中華人民共和国,東京都,2,NaN,退院または死亡,NaN,https://www.mhlw.go.jp/stf/newpage_09099.html,https://www.metro.tokyo.lg.jp/tosei/hodohappyo...,NaN,1,3.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tokyo,China(Mainland),Tokyo Metropolitan Government,Female,116.409685,39.903832,2020/1/25,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,4,NaN,A-4,NaN,40,男性,1/26/2020,1/23/2020,愛知県,中華人民共和国,NaN,NaN,中華人民共和国,愛知県,1,NaN,NaN,国籍:中国,https://www.mhlw.go.jp/stf/newpage_09100.html,https://www.pref.aichi.jp/uploaded/attachment/...,NaN,1,4.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aichi,China(Mainland),Aichi Prefecture,Male,116.409685,39.903832,2020/1/26,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,5,NaN,A-5,NaN,40,男性,1/28/2020,1/22/2020,愛知県,中華人民共和国,NaN,NaN,中華人民共和国,愛知県,2,NaN,NaN,国籍:中国,https://www.mhlw.go.jp/stf/newpage_09154.html,https://www.pref.aichi.jp/uploaded/attachment/...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Aichi,China(Mainland),Aichi Prefecture,Male,116.409685,39.903832,2020/1/28,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
df.tail()

,通し,厚労省NO,無症状病原体保有者,国内,チャーター便,年代,性別,確定日,発症日,受診都道府県,居住都道府県,居住,居住市区町村,キー,発表,都道府県内症例番号,市町村内症例番号,ステータス,備考,ソース,ソース2,ソース3,人数,累計,前日比,発症数,死者合計,退院数累計,退院数,PCR検査実施人数,PCR検査前日比,職業_正誤確認用,勤務先_正誤確認用,Hospital Pref,Residential Pref,Release,Gender,X,Y,確定日YYYYMMDD,受診都道府県コード,居住都道府県コード,更新日時,Field2,Field4,Field5,Field6,Field7,Field8,Field9,Field10,Unnamed: 51
59978,59455,NaN,NaN,NaN,NaN,不明,不明,8/22/2020,NaN,東京都,東京都,NaN,NaN,東京都,東京都,NaN,NaN,NaN,NaN,https://www3.nhk.or.jp/news/html/20200822/k100...,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tokyo,Tokyo,Tokyo Metropolitan Government,Unknown,139.691647,35.689185,2020/8/22,13.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59979,59456,NaN,NaN,NaN,NaN,不明,不明,8/22/2020,NaN,東京都,東京都,NaN,NaN,東京都,東京都,NaN,NaN,NaN,NaN,https://www3.nhk.or.jp/news/html/20200822/k100...,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tokyo,Tokyo,Tokyo Metropolitan Government,Unknown,139.691647,35.689185,2020/8/22,13.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59980,59457,NaN,NaN,NaN,NaN,不明,不明,8/22/2020,NaN,東京都,東京都,NaN,NaN,東京都,東京都,NaN,NaN,NaN,NaN,https://www3.nhk.or.jp/news/html/20200822/k100...,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Tokyo,Tokyo,Tokyo Metropolitan Government,Unknown,139.691647,35.689185,2020/8/22,13.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59981,59978,NaN,NaN,NaN,NaN,80,女性,8/22/2020,8/21/2020,北海道,北海道,後志総合振興局,NaN,北海道後志総合振興局,北海道,1691,NaN,NaN,NaN,NaN,http://www.pref.hokkaido.lg.jp/hf/kth/kak/kisy...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hokkaido,Hokkaido,Hokkaido Prefecture,Female,140.755551,42.901660,2020/8/22,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59982,59979,NaN,NaN,NaN,NaN,不明,不明,8/22/2020,8/18/2020,北海道,北海道,オホーツク総合振興局,NaN,北海道オホーツク総合振興局,北海道,1692,NaN,NaN,NaN,NaN,http://www.pref.hokkaido.lg.jp/hf/kth/kak/kisy...,NaN,1,59983.0,260.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hokkaido,Hokkaido,Hokkaido Prefecture,Unknown,144.260865,44.026645,2020/8/22,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
selected_cols = ['年代', '性別', '確定日', '発症日', '居住都道府県', 'X', 'Y']
df1 = df[selected_cols]
df1.head()

    年代  性別        確定日        発症日   居住都道府県           X          Y
0  30   男性  1/15/2020   1/3/2020     神奈川県  139.642347  35.447504
1  40   男性  1/24/2020  1/14/2020  中華人民共和国  116.409685  39.903832
2  30   女性  1/25/2020  1/21/2020  中華人民共和国  116.409685  39.903832
3  40   男性  1/26/2020  1/23/2020  中華人民共和国  116.409685  39.903832
4  40   男性  1/28/2020  1/22/2020  中華人民共和国  116.409685  39.903832

In [18]:
df1.tail()

        年代  性別        確定日        発症日 居住都道府県           X          Y
59978   不明  不明  8/22/2020        NaN    東京都  139.691647  35.689185
59979   不明  不明  8/22/2020        NaN    東京都  139.691647  35.689185
59980   不明  不明  8/22/2020        NaN    東京都  139.691647  35.689185
59981  80   女性  8/22/2020  8/21/2020    北海道  140.755551  42.901660
59982   不明  不明  8/22/2020  8/18/2020    北海道  144.260865  44.026645

In [19]:
df1 = df1.dropna(how='all')
df1.tail()

        年代  性別        確定日        発症日 居住都道府県           X          Y
59978   不明  不明  8/22/2020        NaN    東京都  139.691647  35.689185
59979   不明  不明  8/22/2020        NaN    東京都  139.691647  35.689185
59980   不明  不明  8/22/2020        NaN    東京都  139.691647  35.689185
59981  80   女性  8/22/2020  8/21/2020    北海道  140.755551  42.901660
59982   不明  不明  8/22/2020  8/18/2020    北海道  144.260865  44.026645

In [20]:
df1['count'] = 1
df1

        年代  性別        確定日        発症日   居住都道府県           X          Y  count
0      30   男性  1/15/2020   1/3/2020     神奈川県  139.642347  35.447504      1
1      40   男性  1/24/2020  1/14/2020  中華人民共和国  116.409685  39.903832      1
2      30   女性  1/25/2020  1/21/2020  中華人民共和国  116.409685  39.903832      1
3      40   男性  1/26/2020  1/23/2020  中華人民共和国  116.409685  39.903832      1
4      40   男性  1/28/2020  1/22/2020  中華人民共和国  116.409685  39.903832      1
...    ...  ..        ...        ...      ...         ...        ...    ...
59978   不明  不明  8/22/2020        NaN      東京都  139.691647  35.689185      1
59979   不明  不明  8/22/2020        NaN      東京都  139.691647  35.689185      1
59980   不明  不明  8/22/2020        NaN      東京都  139.691647  35.689185      1
59981  80   女性  8/22/2020  8/21/2020      北海道  140.755551  42.901660      1
59982   不明  不明  8/22/2020  8/18/2020      北海道  144.260865  44.026645      1

[59983 rows x 8 columns]

In [21]:
for col in df1.columns:
    print(f'{col}: {df1[col].unique()}')

年代: ['30 ' '40 ' '60 ' '50 ' '20 ' '80 ' '70 ' '10 ' '0-10' '不明' '90 ' '90'
 '60' '70' '30' '40' '20' '50' '80' '10']
性別: ['男性' '女性' '不明' '男性\xa0' '女性\xa0']
確定日: ['1/15/2020' '1/24/2020' '1/25/2020' '1/26/2020' '1/28/2020' '1/29/2020'
 '1/30/2020' '1/31/2020' '2/1/2020' '2/4/2020' '2/5/2020' '2/7/2020'
 '2/10/2020' '2/11/2020' '2/13/2020' '2/14/2020' '2/15/2020' '2/16/2020'
 '2/17/2020' '2/18/2020' '2/19/2020' '2/20/2020' '2/21/2020' '2/22/2020'
 '2/23/2020' '2/24/2020' '2/25/2020' '2/26/2020' '2/27/2020' '2/28/2020'
 '2/29/2020' '3/1/2020' '3/2/2020' '3/3/2020' '3/4/2020' '3/5/2020'
 '3/6/2020' '3/7/2020' '3/8/2020' '3/9/2020' '3/10/2020' '3/11/2020'
 '3/12/2020' '3/13/2020' '3/14/2020' '3/15/2020' '3/16/2020' '3/17/2020'
 '3/18/2020' '3/19/2020' '3/20/2020' '3/21/2020' '3/22/2020' '3/23/2020'
 '3/24/2020' '3/25/2020' '3/26/2020' '3/27/2020' '3/28/2020' '3/29/2020'
 '3/30/2020' '3/31/2020' '4/1/2020' '4/2/2020' '4/3/2020' '4/4/2020'
 '4/5/2020' '4/6/2020' '4/7/2020' '4/8/2020' '4/9/2020' '4/10/2020'
 '4/11/2020' '4/12/2020' '4/13/2020' '4/14/2020' '4/15/2020' '4/16/2020'
 '4/17/2020' '4/18/2020' '4/19/2020' '4/20/2020' '4/21/2020' '4/22/2020'
 '4/23/2020' '4/24/2020' '4/25/2020' '4/26/2020' '4/27/2020' '4/28/2020'
 '4/29/2020' '4/30/2020' '5/1/2020' '5/2/2020' '5/3/2020' '5/4/2020'
 '5/5/2020' '5/6/2020' '5/7/2020' '5/8/2020' '5/9/2020' '5/10/2020'
 '5/11/2020' '5/12/2020' '5/13/2020' '5/14/2020' '5/15/2020' '5/16/2020'
 '5/17/2020' '5/18/2020' '5/19/2020' '5/20/2020' '5/21/2020' '5/22/2020'
 '5/23/2020' '5/24/2020' '5/25/2020' '5/26/2020' '5/27/2020' '5/28/2020'
 '5/29/2020' '5/30/2020' '5/31/2020' '6/1/2020' '6/2/2020' '6/3/2020'
 '6/4/2020' '6/5/2020' '6/6/2020' '6/7/2020' '6/8/2020' '6/9/2020'
 '6/10/2020' '6/11/2020' '6/12/2020' '6/13/2020' '6/14/2020' '6/15/2020'
 '6/16/2020' '6/17/2020' '6/18/2020' '6/19/2020' '6/20/2020' '6/21/2020'
 '6/22/2020' '6/23/2020' '6/24/2020' '6/25/2020' '6/26/2020' '6/27/2020'
 '6/28/2020' '6/29/2020' '6/30/2020' '7/1/2020' '7/2/2020' '7/3/2020'
 '7/4/2020' '7/5/2020' '7/6/2020' '7/7/2020' '7/8/2020' '7/9/2020'
 '7/10/2020' '7/11/2020' '7/12/2020' '7/13/2020' '7/14/2020' '7/15/2020'
 '7/16/2020' '7/17/2020' '7/18/2020' '7/19/2020' '7/20/2020' '7/21/2020'
 '7/22/2020' '7/23/2020' '7/24/2020' '7/25/2020' '7/26/2020' '7/27/2020'
 '7/28/2020' '7/29/2020' '7/30/2020' '7/31/2020' '8/1/2020' '8/2/2020'
 '8/3/2020' '8/4/2020' '8/5/2020' '8/6/2020' '8/7/2020' '8/8/2020'
 '8/9/2020' '8/10/2020' '8/11/2020' '8/12/2020' '8/13/2020' '8/14/2020'
 '8/15/2020' '8/16/2020' '8/17/2020' '8/18/2020' '8/19/2020' '8/20/2020'
 '8/21/2020' '8/22/2020']
発症日: ['1/3/2020' '1/14/2020' '1/21/2020' '1/23/2020' '1/22/2020' '1/26/2020'
 '1/20/2020' '1/29/2020' nan '1/25/2020' '1/24/2020' '1/28/2020'
 '2/1/2020' '1/31/2020' '1/30/2020' '2/7/2020' '2/8/2020' '2/2/2020'
 '2/5/2020' '2/4/2020' '2/3/2020' '2/10/2020' '2/13/2020' '2/15/2020'
 '2/6/2020' '2/14/2020' '2/17/2020' '2/16/2020' '2/9/2020' '2/19/2020'
 '2/12/2020' '2/18/2020' '2/20/2020' '2/21/2020' '2/22/2020' '2/23/2020'
 '2/24/2020' '2/26/2020' '2/25/2020' '2/27/2020' '2/28/2020' '2/29/2020'
 '3/2/2020' '3/3/2020' '3/1/2020' '3/4/2020' '3/5/2020' '3/6/2020'
 '3/7/2020' '3/8/2020' '3/9/2020' '3/10/2020' '3/11/2020' '3/12/2020'
 '3/13/2020' '3/14/2020' '3/15/2020' '3/16/2020' '3/17/2020' '3/19/2020'
 '3/18/2020' '3/20/2020' '3/21/2020' '3/22/2020' '3/23/2020' '3/24/2020'
 '3/25/2020' '3/26/2020' '3/27/2020' '3/28/2020' '3/29/2020' '3/30/2020'
 '3/31/2020' '4/1/2020' '4/2/2020' '4/3/2020' '4/4/2020' '4/5/2020'
 '4/6/2020' '4/7/2020' '4/8/2020' '4/9/2020' '4/10/2020' '4/11/2020'
 '4/12/2020' '4/13/2020' '4/14/2020' '4/15/2020' '4/16/2020' '4/17/2020'
 '4/19/2020' '4/18/2020' '4/20/2020' '4/21/2020' '4/22/2020' '4/23/2020'
 '4/26/2020' '4/24/2020' '4/25/2020' '4/27/2020' '4/28/2020' '4/29/2020'
 '4/30/2020' '5/1/2020' '5/2/2020' '5/3/2020' '5/4/2020' '5/5/2020'
 '5/6/2020' '5/7/2020' '5/8/2020' '5/9/2020' '5/10/2020' '5/11/2020'
 '5/12/2020' '5/13/2020' '5/14/2020' '5/15/2020' '5/16/2020' '5/17/2020'
 '5/19/2020' '5/21/2020' '5/18/2020' '5/22/2020' '5/20/2020' '5/23/2020'
 '5/24/2020' '5/25/2020' '5/27/2020' '5/26/2020' '5/28/2020' '5/29/2020'
 '6/1/2020' '5/31/2020' '6/4/2020' '5/30/2020' '6/2/2020' '6/3/2020'
 '6/5/2020' '6/6/2020' '6/7/2020' '6/8/2020' '6/9/2020' '6/10/2020'
 '6/11/2020' '6/13/2020' '6/14/2020' '6/15/2020' '6/12/2020' '6/17/2020'
 '6/16/2020' '6/18/2020' '6/19/2020' '6/21/2020' '6/20/2020' '6/22/2020'
 '6/23/2020' '6/25/2020' '6/24/2020' '6/26/2020' '6/27/2020' '6/28/2020'
 '6/29/2020' '6/30/2020' '7/1/2020' '7/19/2020' '7/18/2020' '7/2/2020'
 '7/17/2020' '7/26/2020' '7/29/2020' '7/27/2020' '7/3/2020' '7/4/2020'
 '7/5/2020' '7/6/2020' '7/7/2020' '7/8/2020' '7/9/2020' '7/10/2020'
 '7/12/2020' '7/11/2020' '7/13/2020' '7/14/2020' '7/15/2020' '7/16/2020'
 '7/20/2020' '7/21/2020' '7/22/2020' '7/23/2020' '7/24/2020' '7/25/2020'
 '7/28/2020' '7/30/2020' '7/31/2020' '8/1/2020' '8/8/2020' '8/9/2020'
 '8/6/2020' '8/3/2020' '8/2/2020' '8/4/2020' '8/7/2020' '8/5/2020'
 '8/10/2020' '8/11/2020' '8/15/2020' '8/12/2020' '8/13/2020' '8/14/2020'
 '8/16/2020' '8/17/2020' '8/18/2020' '8/19/2020' '8/20/2020' '8/21/2020']
居住都道府県: ['神奈川県' '中華人民共和国' '奈良県' '大阪府' '三重県' '京都府' '千葉県' '不明' '埼玉県' '東京都' '和歌山県'
 '沖縄県' '愛知県' '北海道' '福岡県' '石川県' '熊本県' '栃木県' '長野県' '徳島県' '岐阜県' '滋賀県' '静岡県'
 '高知県' '宮城県' '兵庫県' '愛媛県' '新潟県' '大分県' '山口県' '宮崎県' '岡山県' '山梨県' '秋田県' '広島県'
 '福島県' '群馬県' '佐賀県' '長崎県' '香川県' '茨城県' '福井県' 'スペイン' 'アイルランド' '南アフリカ共和国'
 'ジンバブエ共和国' '青森県' 'フィリピン' 'アメリカ' 'カナダ' 'イギリス' 'フランス' '富山県' '山形県' 'インドネシア'
 '鹿児島県' '島根県' '鳥取県' 'アフガニスタン' '岩手県']
X: [ 1.39642347e+02  1.16409685e+02  1.35832745e+02  1.35519920e+02
  1.36508610e+02  1.35751464e+02  1.40123095e+02  0.00000000e+00
  1.39647804e+02  1.39691647e+02  1.35170730e+02  1.39927874e+02
  1.35167511e+02  1.27681114e+02  1.36910184e+02  1.41341078e+02
  1.36906698e+02  1.39373234e+02  1.39642153e+02  1.40694282e+02
  1.27679159e+02  1.30414878e+02  1.27681218e+02  1.42425105e+02
  1.41650892e+02  1.36625669e+02  1.39975853e+02  1.30708191e+02
  1.30741553e+02  1.41605510e+02  1.40418946e+02  1.42364744e+02
  1.45582790e+02  1.40728924e+02  1.41536246e+02  1.39883525e+02
  1.43895876e+02  1.39903093e+02  1.42466982e+02  1.42577976e+02
  1.44381705e+02  1.40972193e+02  1.41345507e+02  1.44260865e+02
  1.38180672e+02  1.34559293e+02  1.40385061e+02  1.42368582e+02
  1.36612750e+02  1.40167933e+02  1.35868586e+02  1.44847362e+02
  1.44384922e+02  1.41910186e+02  1.42439375e+02  1.43209737e+02
  1.39882976e+02  1.40265276e+02  1.40437568e+02  1.40123179e+02
  1.42053537e+02  1.38383293e+02  1.35509787e+02  1.33529282e+02
  1.40870172e+02  1.30873424e+02  1.39982454e+02  1.35341522e+02
  1.32583450e+02  1.39040201e+02  1.39043237e+02  1.31609108e+02
  1.35197747e+02  1.35650658e+02  1.30941568e+02  1.33530887e+02
  1.32765578e+02  1.31420330e+02  1.35600921e+02  1.35854610e+02
  1.39593191e+02  1.39455734e+02  1.34760075e+02  1.35623660e+02
  1.39804501e+02  1.33934414e+02  1.41563542e+02  1.35805008e+02
  1.38568876e+02  1.35417128e+02  1.35225454e+02  1.34685355e+02
  1.40103569e+02  1.40103356e+02  1.39630579e+02  1.35695446e+02
  1.35483009e+02  1.35617274e+02  1.35516771e+02  1.32455020e+02
  1.35258812e+02  1.40887684e+02  1.39375470e+02  1.35400947e+02
  1.35561961e+02  1.35568504e+02  1.35470384e+02  1.35586896e+02
  1.35469919e+02  1.41775916e+02  1.39549240e+02  1.35561751e+02
  1.35600977e+02  1.35755399e+02  1.35035867e+02  1.35358519e+02
  1.39391124e+02  1.35406376e+02  1.39485793e+02  1.39677892e+02
  1.41766519e+02  1.39491124e+02  1.35428444e+02  1.35551927e+02
  1.35360317e+02  1.35183087e+02  1.35304162e+02  1.37174332e+02
  1.40994428e+02  1.35423560e+02  1.37156213e+02  1.39790737e+02
  1.39703851e+02  1.40564314e+02  1.34841177e+02  1.39805121e+02
  1.39724085e+02  1.36937963e+02  1.30300857e+02  1.29691354e+02
  1.40360055e+02  1.39404900e+02  1.39565372e+02  1.35327338e+02
  1.39672200e+02  1.36207606e+02  1.36802460e+02  1.34841624e+02
  1.33797669e+02  1.31423855e+02  1.31308028e+02  1.40534934e+02
  1.39281505e+02  1.39580321e+02  1.39388643e+02  1.36852903e+02
  1.40145774e+02  1.36760945e+02  1.40076608e+02  1.39882587e+02
  1.36914804e+02  1.36219596e+02  1.36624407e+02  1.40214769e+02
  1.39901917e+02  1.31805127e+02  1.30540748e+02  1.39558410e+02
  1.39412213e+02  1.39752304e+02  1.36972245e+02  1.36870617e+02
  1.39924863e+02 -3.81962070e+00 -6.26879080e+00  1.30418228e+02
  1.33204891e+02  1.38851280e+02  1.35370829e+02  1.36864613e+02
  1.37375542e+02  1.40028225e+02  1.39662105e+02  1.36848264e+02
  1.37061011e+02  1.33919591e+02  1.40204333e+02  1.84232620e+01
  3.10331330e+01  1.38383043e+02  1.41488398e+02  1.39468721e+02
  1.35410464e+02  1.39063428e+02  1.39003326e+02  1.39402906e+02
  1.37070475e+02  1.20983851e+02  1.38795102e+02  1.40090411e+02
  1.40149526e+02  1.30691152e+02  1.37972014e+02  1.36780212e+02
  1.40318281e+02  1.39902771e+02  1.40446796e+02  1.39541968e+02
  1.29875081e+02  1.31473757e+02  1.35606212e+02 -7.70368710e+01
  1.36944161e+02  1.37074767e+02 -7.57017560e+01  1.36025823e+02
  1.41059516e+02 -1.27758000e-01  1.40758701e+02  1.33283351e+02
  1.40027237e+02  1.39676925e+02  1.39605824e+02  1.39296830e+02
  1.33556894e+02  1.40037052e+02  1.35564225e+02  1.35291176e+02
  1.40182266e+02  1.39519769e+02  1.37048762e+02  1.36168805e+02
  1.31491178e+02  1.40499215e+02  1.40413525e+02  1.40223883e+02
  1.37726104e+02  1.40668597e+02  1.40646613e+02  1.40504390e+02
  1.40826780e+02  1.39839127e+02  2.35222190e+00  1.35799835e+02
  1.35767697e+02  1.38889935e+02  1.39114738e+02  1.37084032e+02
  1.30501990e+02  1.40318299e+02  1.36184473e+02  1.35628099e+02
  1.35597473e+02  1.37213682e+02  1.36656655e+02  1.40050460e+02
  1.39975391e+02  1.36866013e+02  1.36231466e+02  1.36194471e+02
  1.33945990e+02  1.38621646e+02  1.38084609e+02  1.40973799e+02
  1.40288029e+02  1.39526432e+02  1.40740148e+02  1.35679956e+02
  1.40955471e+02  1.40474694e+02  1.29880269e+02  1.30508336e+02
  1.36919475e+02  1.40566648e+02  1.39593602e+02  1.39522230e+02
  1.39872277e+02  1.37132202e+02  1.38921716e+02  1.36229028e+02
  1.29715110e+02  1.40267826e+02  1.41853784e+02  1.06845599e+02
  1.35355787e+02  1.30195555e+02  1.31130276e+02  1.28655125e+02
  1.40664530e+02  1.39979407e+02  1.30021511e+02  1.33828356e+02
  1.30053081e+02  1.40471596e+02  1.40957333e+02  1.32711397e+02
  1.37075391e+02  1.36142315e+02  1.38897155e+02  1.38423706e+02
  1.38194773e+02  1.34997562e+02  1.39399958e+02  1.40301611e+02
  1.37183063e+02  1.36907628e+02  1.30982967e+02  1.40564285e+02
  1.40372529e+02  1.35628687e+02  1.36917842e+02  1.36683803e+02
  1.37391388e+02  1.35997996e+02  1.39839966e+02  1.32792238e+02
  1.39393098e+02  1.33362315e+02  1.30709079e+02  1.30763133e+02
  1.40055880e+02  1.40895410e+02  1.40747312e+02  1.39101767e+02
  1.39144826e+02  1.38882227e+02  1.31664851e+02  1.32504566e+02
  1.35959966e+02  1.36278725e+02  1.36965623e+02  1.36832381e+02
  1.36902460e+02  1.38464932e+02  1.39874838e+02  1.27778392e+02
  1.38887326e+02  1.39755362e+02  1.35639566e+02  1.40338608e+02
  1.40466701e+02  1.40269529e+02  1.40343060e+02  1.40115220e+02
  1.36820097e+02  1.37061849e+02  1.37497873e+02  1.31870358e+02
  1.40230374e+02  1.41569994e+02  1.29849114e+02  1.30454385e+02
  1.34913482e+02  1.30405761e+02  1.39085444e+02  1.39327775e+02
  1.40755551e+02  1.36690842e+02  1.35442455e+02  1.36901790e+02
  1.36542192e+02  1.40531063e+02  1.40116781e+02  1.39826730e+02
  1.36487566e+02  1.31806557e+02  1.27721810e+02  1.36609743e+02
  1.30526057e+02  1.37012947e+02  1.36993378e+02  1.36166325e+02
  1.32462193e+02  1.38778684e+02  1.40148375e+02  1.40188910e+02
  1.39987529e+02  1.27770651e+02  1.39734080e+02  1.38236083e+02
  1.36627551e+02  1.31942185e+02  1.27805644e+02  1.40644815e+02
  1.36910951e+02  1.36783273e+02  1.39403638e+02  1.36565600e+02
  1.32658001e+02  1.36097909e+02  1.36262005e+02  1.36298767e+02
  1.39226013e+02  1.39836510e+02  1.38863492e+02  1.38903000e+02
  1.41637212e+02  1.31378338e+02  1.38568215e+02  1.30941002e+02
  1.31397858e+02  1.40891913e+02  1.29709045e+02  1.40366058e+02
  1.38248888e+02  1.30523907e+02  1.36706738e+02  1.36445565e+02
  1.35994403e+02  1.32743309e+02  1.32851840e+02  1.37025744e+02
  1.35414265e+02  1.35555692e+02  1.30557115e+02  1.37130615e+02
  1.36678765e+02  1.39315995e+02  1.37039570e+02  1.37002243e+02
  1.41056700e+02  1.34046812e+02  1.39449701e+02  1.39578341e+02
  1.39852080e+02  1.35698939e+02  1.35782758e+02  1.39274488e+02
  1.38676305e+02  1.36722199e+02  1.30470283e+02  1.30478643e+02
  1.30491090e+02  1.30729635e+02  1.33048522e+02  1.39548464e+02
  1.39624188e+02  1.39601722e+02  1.39725860e+02  1.39736709e+02
  1.41004269e+02  1.40339579e+02  1.39744973e+02  1.40046052e+02
  1.39196772e+02  1.36623176e+02  1.35730526e+02  1.29875086e+02
  1.40000846e+02  1.39954432e+02  1.36728442e+02  1.36778996e+02
  1.36645092e+02  1.38686914e+02  1.38729377e+02  1.34235086e+02
  1.35273342e+02  1.35597127e+02  1.40431026e+02  1.40393876e+02
  1.39453752e+02  1.39666607e+02  1.37559944e+02  1.35792626e+02
  1.36786745e+02  1.36573370e+02  1.38858529e+02  1.34915054e+02
  1.40282753e+02  1.27665811e+02  1.27857477e+02  1.39794955e+02
  1.43527946e+02  1.39330687e+02  1.39281123e+02  1.35695460e+02
  1.35750835e+02  1.39855518e+02  1.37412811e+02  1.36741217e+02
  1.37998167e+02  1.40650461e+02  1.36505419e+02  1.36527606e+02
  1.30506258e+02  1.36608672e+02  1.30299816e+02  1.32459569e+02
  1.41346974e+02  1.27977371e+02  1.30555543e+02  1.38639783e+02
  1.39679708e+02  1.39074561e+02  1.32218834e+02  1.34172130e+02
  1.40368731e+02  1.35736450e+02  1.36912990e+02  1.24155586e+02
  1.31188324e+02  1.36972848e+02  1.35726485e+02  1.34790441e+02
  1.42467056e+02  1.42383225e+02  1.39876641e+02  1.35239670e+02
  1.37313530e+02  1.31246788e+02  1.36985459e+02  1.36703330e+02
  1.35700536e+02  1.29967989e+02  1.40414196e+02  1.39108643e+02
  1.41669254e+02  1.35494156e+02  1.35629741e+02  1.35789632e+02
  1.32331622e+02  1.30469987e+02  1.36583795e+02  1.31447090e+02
  1.31562684e+02  1.40486839e+02  1.36829674e+02  1.36507032e+02
  1.45584453e+02  1.40362533e+02  1.33077957e+02  1.40576422e+02
  1.40994374e+02  1.40371036e+02  1.40854748e+02  1.41700255e+02
  1.40320935e+02  1.39339043e+02  1.39190393e+02  1.36314974e+02
  1.36283904e+02  1.34358823e+02  1.35837331e+02  1.29493743e+02
  1.35908106e+02  1.37050749e+02  1.39410327e+02  1.32510978e+02
  1.41315522e+02  1.41106631e+02  1.30422177e+02  1.30445976e+02
  1.33330948e+02  1.36915554e+02  1.36797529e+02  1.32565440e+02
  1.39042822e+02  1.39000445e+02  1.38558983e+02  1.30627713e+02
  1.34867806e+02  1.36963540e+02  1.39181456e+02  1.33860510e+02
  1.37211302e+02  1.41577818e+02  1.39261836e+02  1.36035819e+02
  1.40013444e+02  1.36871405e+02  1.37362380e+02  1.39071532e+02
  1.38945315e+02  1.38128127e+02  1.39620459e+02  1.39426189e+02
  1.39457891e+02  1.39362470e+02  1.39546720e+02  1.32536080e+02
  1.39888895e+02  1.29867795e+02  1.39349479e+02  1.39152156e+02
  1.39108400e+02  1.39484347e+02  1.30110071e+02  1.30216933e+02
  1.39993620e+02  1.36763194e+02  1.37341191e+02  1.40352553e+02
  1.36709336e+02  1.39193022e+02  1.41214343e+02  1.35376154e+02
  1.30398802e+02  1.30116022e+02  1.39137116e+02  1.39321717e+02
  1.38412868e+02  1.36554241e+02  1.34004537e+02  1.39407657e+02
  1.40015608e+02  1.32754684e+02  1.35843199e+02  1.31612674e+02
  1.40753245e+02  1.39902680e+02  1.31181953e+02  1.36987676e+02
  1.40877979e+02  1.40301789e+02  1.39315040e+02  1.41655955e+02
  1.30143499e+02  1.36724745e+02  1.39123163e+02  1.39390606e+02
  1.39383861e+02  1.40918897e+02  1.34043360e+02  1.40555652e+02
  1.39294074e+02  1.35794875e+02  1.33772089e+02  1.34238258e+02
  1.30711601e+02  1.39156560e+02  1.39219943e+02  1.40128063e+02
  1.39101936e+02  1.44172442e+02  1.38918512e+02  1.32872049e+02
  1.39106915e+02  1.40872183e+02  6.92074860e+01  1.38807846e+02
  1.39060847e+02  1.39586210e+02  1.41022027e+02  1.38535006e+02
  1.40093264e+02  1.39966488e+02  1.39909856e+02  1.40151458e+02
  1.39320523e+02  1.37015633e+02  1.43196102e+02  1.40099647e+02
  1.37502227e+02  1.29877725e+02  1.28840746e+02  1.30370822e+02
  1.29958171e+02  1.30633031e+02  1.30613099e+02  1.30973430e+02
  1.31045403e+02  1.30296904e+02  1.30557905e+02  1.30402449e+02
  1.41302889e+02  1.35706554e+02  1.30303966e+02  1.31005429e+02
  1.30323405e+02  1.30441906e+02  1.40040524e+02  1.39580406e+02
  1.40304273e+02  1.36583884e+02  1.34990185e+02  1.35142200e+02
  1.39194570e+02  1.30806217e+02  1.40320963e+02  1.35716632e+02
  1.37862652e+02  1.41187581e+02  1.39084094e+02  1.39800089e+02
  1.35774107e+02  1.35736671e+02  1.40237109e+02  1.40303645e+02
  1.40287111e+02  1.40377885e+02  1.30852077e+02  1.39740728e+02
  1.36908239e+02  1.39745932e+02  1.39815281e+02  1.36108295e+02
  1.38011941e+02  1.34185809e+02  1.33715258e+02  1.33662814e+02
  1.37052552e+02  1.32765850e+02  1.38946706e+02  1.38176021e+02
  1.37165619e+02  1.38257458e+02  1.35647797e+02  1.29916913e+02
  1.39697626e+02  1.38841117e+02  1.30754928e+02  1.36967517e+02
  1.37905803e+02  1.39847221e+02  1.34969330e+02  1.34390284e+02
  1.35793505e+02  1.37254589e+02  1.37080339e+02  1.37219757e+02
  1.39360916e+02  1.38483493e+02  1.33236470e+02  1.36783319e+02
  1.36728271e+02  1.38368081e+02  1.32900302e+02  1.28414763e+02
  1.40566548e+02  1.30383957e+02  1.36568497e+02  1.31503015e+02
  1.40243830e+02  1.35693632e+02  1.36190998e+02  1.30474715e+02
  1.37851513e+02  1.33616488e+02  1.34018837e+02  1.36229896e+02
  1.36261205e+02  1.37141516e+02  1.30060122e+02  1.32997860e+02
  1.38114068e+02  1.36337313e+02  1.39804060e+02  1.37035396e+02
  1.31401203e+02  1.31323483e+02  1.31473616e+02  1.39530264e+02
  1.38307191e+02  1.36516577e+02  1.31525871e+02  1.31488016e+02
  1.31061624e+02  1.30691364e+02  1.40139187e+02  1.30522813e+02
  1.37975040e+02  1.31623981e+02  1.38961702e+02  1.36537934e+02
  1.37500515e+02  1.36636656e+02  1.36048657e+02  1.38934620e+02
  1.38323189e+02  1.38425883e+02  1.39098742e+02  1.36084690e+02
  1.30557774e+02  1.25281162e+02  1.37244102e+02  1.32914997e+02
  1.32584756e+02  1.35662992e+02  1.30665584e+02  1.41154512e+02
  1.41946052e+02  1.39722982e+02  1.37821821e+02  1.38369214e+02
  1.36929970e+02  1.36684436e+02  1.31559570e+02  1.39924054e+02
  1.29287490e+02  1.40489061e+02  1.40424498e+02  1.36637413e+02
  1.39057993e+02  1.41142952e+02  1.31900060e+02  1.34092845e+02
  1.37264203e+02  1.30452810e+02  1.30432959e+02  1.30562843e+02
  1.34973414e+02  1.34779858e+02  1.36245887e+02  1.40467705e+02
  1.37924679e+02  1.29642982e+02  1.35700737e+02  1.36561555e+02
  1.40574921e+02  1.36868622e+02  1.38596955e+02  1.30789698e+02
  1.30813333e+02  1.41152667e+02  1.36055443e+02  1.30602098e+02
  1.29848575e+02  1.36664371e+02  1.33864609e+02  1.33584949e+02
  1.36907741e+02  1.33825561e+02  1.31349539e+02  1.30868312e+02
  1.30684379e+02  1.39967374e+02  1.30666655e+02  1.35622509e+02
  1.35952275e+02  1.30157530e+02  1.31648589e+02  1.36451601e+02
  1.37323645e+02  1.40098861e+02  1.30187508e+02  1.30659721e+02
  1.30828604e+02  1.39703410e+02  1.39099708e+02  1.34134293e+02
  1.33841390e+02  1.40376168e+02  1.40410973e+02  1.40555331e+02
  1.39334089e+02  1.36124446e+02  1.40374236e+02  1.37981944e+02
  1.36979576e+02  1.30740061e+02  1.37409217e+02  1.40975681e+02
  1.31616178e+02  1.34931523e+02  1.34853161e+02  1.38506537e+02
  1.30373054e+02  1.31070373e+02  1.38180106e+02  1.41775582e+02
  1.30972587e+02  1.36912008e+02  1.30430529e+02  1.29553671e+02
  1.33753757e+02  1.40575878e+02  1.35401326e+02  1.37851094e+02
  1.38049412e+02  1.33017297e+02  1.30802041e+02  1.37187823e+02
  1.35773641e+02  1.31842578e+02  1.39041311e+02  1.37448032e+02
  1.39869965e+02  1.40245419e+02  1.39653249e+02  1.40057891e+02
  1.37927577e+02  1.40210945e+02  1.40440294e+02  1.30628290e+02

In [22]:
df1['年代'].astype('str').apply(lambda x: x.replace('0-10', '1'))

0        30
1        40
2        30
3        40
4        40
        ...
59978     不明
59979     不明
59980     不明
59981    80
59982     不明
Name: 年代, Length: 59983, dtype: object

In [23]:
df1['年代'] = df1['年代'].apply(lambda x: x.replace('0-10', '1'))
df1['年代'] = df1['年代'].apply(lambda x: x.replace('不明', '50'))
df1['年代'] = df1['年代'].apply(lambda x: x.replace('nan', '50'))

df1['年代'] = df1['年代'].apply(lambda x: int(x))
df1['年代'].unique()

array([30, 40, 60, 50, 20, 80, 70, 10,  1, 90])

In [24]:
df1.to_csv('data/covid_19_update.csv')

## 日本の財政データ

In [25]:
pd.set_option('max_columns', 100)
pd.set_option('max_rows', 100)

excel_url = 'https://www.mof.go.jp/budget/reference/statistics/24.xls'
df = pd.read_excel(excel_url)
print(df.shape)
print(df.info())

WARNING *** file size (44668) not 512 + multiple of sector size (512)
(57, 26)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   17 non-null     object
 1   Unnamed: 1   37 non-null     object
 2   Unnamed: 2   37 non-null     object
 3   Unnamed: 3   0 non-null      float64
 4   Unnamed: 4   53 non-null     object
 5   Unnamed: 5   53 non-null     object
 6   Unnamed: 6   53 non-null     object
 7   Unnamed: 7   53 non-null     object
 8   Unnamed: 8   53 non-null     object
 9   Unnamed: 9   53 non-null     object
 10  Unnamed: 10  53 non-null     object
 11  Unnamed: 11  53 non-null     object
 12  Unnamed: 12  53 non-null     object
 13  Unnamed: 13  53 non-null     object
 14  Unnamed: 14  53 non-null     object
 15  Unnamed: 15  53 non-null     object
 16  Unnamed: 16  53 non-null     object
 17  Unnamed: 17  53 non-null     object
 18  Unnamed: 18  53 non-null     object
 19  Unnamed: 19  53 non-null     object
 20  Unnamed: 20  53 non-null     object
 21  Unnamed: 21  53 non-null     object
 22  Unnamed: 22  53 non-null     object
 23  Unnamed: 23  53 non-null     object
 24  Unnamed: 24  53 non-null     object
 25  Unnamed: 25  54 non-null     object
dtypes: float64(1), object(25)
memory usage: 11.7+ KB
None

In [26]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,第24表 平 成 ９ 年 度 以 降 一 般 会 計 歳 出 決 算 目 的 別 分 類,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,（単位：千円）
3,年 度\n目 的 別,NaN,NaN,NaN,平 成 ９ 年 度,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df.tail()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
52,11.東日本大震災復旧・復興予備費,NaN,NaN,NaN,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,ー,ー,ー,ー,ー,－
53,12.熊本地震復旧等予備費,NaN,NaN,NaN,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,ー,ー,ー,ー,ー,－
54,12．予 備 費,NaN,NaN,NaN,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,ー,ー,ー,ー,ー,－
55,13．そ の 他,NaN,NaN,NaN,107446364,560720538,1946185898,117848770,114811714,116061688,131099215,137464675,134327404,132535572,126513456,596003290,3972807075,1998855325,1151337298,3127364837,4049324814,1944845682,1306542097,1017311678,950583079,940610781
56,合 計,NaN,NaN,NaN,78470310184,84391798185,89037431392,89321049910,84811128504,83674289924,82415970662,84896776304,85519592207,81445480694,81842570225,84697395043,100973424388,95312341707,100715409134,97087176621,100188878834,98813467430,98230324099,97541764842,98115604721,98974696544

In [28]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,第24表 平 成 ９ 年 度 以 降 一 般 会 計 歳 出 決 算 目 的 別 分 類,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,（単位：千円）
3,年 度\n目 的 別,NaN,NaN,NaN,平 成 ９ 年 度,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,１．国 家 機 関 費,NaN,NaN,NaN,4089878933,4280839099,4273674613,4802768587,4845892598,4308629662,4382520701,4464313211,4460200856,4361194867,4530742429,4470410404,5074090225,4945147236,4928503182,4369555684,4867349264,4860631635,5061873526,4979956434,4825663205,4807859792
6,NaN,⑴,皇室費,NaN,6686157,6643501,6832632,9366209,7408714,7089358,6721568,6965778,6849417,6591482,6569224,6613183,6137774,5491398,6026580,5965628,5774431,6151561,5800414,5351842,6776077,9678519
7,NaN,⑵,国会費,NaN,123019403,131142130,138585747,146463865,154158813,133486528,127362960,127144108,123122693,122817737,122136741,122660956,126258243,151426912,135321370,128495174,125668672,132043907,134301666,132560410,133287519,136393763
8,NaN,⑶,選挙費,NaN,3534438,57491037,3258220,73263020,63135863,5853557,71775157,61379786,69799237,1328890,59141967,702891,68788324,52100534,319976,59452810,50432786,56412418,1643113,53738213,59832965,143469
9,NaN,⑷,司法、警察及び消防費,NaN,1319365876,1399227861,1408610493,1453162305,1410079489,1386978225,1390638515,1384424712,1411240550,1431981688,1468295392,1496556058,1533909368,1472709759,1597209034,1480602910,1524285156,1502880959,1514804508,1573470081,1560110218,1629272958
10,NaN,⑸,外交費,NaN,831845677,861739833,888920739,865866900,864050579,810000539,844190419,905133307,836553817,847587839,880421187,914480244,955076436,879664492,821449422,783527090,850286829,870024473,906512055,924167345,888687574,878467212
11,NaN,⑹,一般行政費,NaN,1054750965,1049312336,1055053630,1471169953,1542488050,1168330494,1133725132,1170472827,1208907002,1143095541,1184175331,1123358027,1582842125,1611829588,1574741294,1164515329,1571959844,1502453529,1708495119,1497159393,1383405116,1349839809
12,NaN,⑺,徴税費,NaN,750676414,775282398,772413149,783476331,804571086,796890961,786365382,787768965,785154239,790800136,793981869,790069461,785667031,757349796,778969916,732703934,725193651,775835905,775425294,778734855,778866035,789261980
13,NaN,⑻,貨幣製造費,NaN,-,-,-,-,-,-,21741568,21023726,18573897,16991552,16020716,15969581,15410921,14574753,14465587,14292805,13747892,14828881,14891355,14774292,14697699,14802080
14,２．地 方 財 政 費,NaN,NaN,NaN,15503917972,14326238212,13105011723,15849461435,16725670735,16500834094,17427158365,17703484772,17504074308,16761090449,15010305478,15702928407,16595904253,18809852561,19469488558,16900990748,17575309002,17185775269,16888314210,15421261402,15644801858,16099323993
15,NaN,⑴,地方財政調整費,NaN,15480975000,14304580000,13084335000,15828908673,16705603842,16479108000,17398800109,17662126706,17440562423,16700970439,14931618000,15679227889,16573294000,18790321916,19450671876,16884650453,17553472754,17096255371,16800803231,15339274500,15567103800,16025781000
16,NaN,⑵,元利補給,NaN,4788629,3441917,2442715,1616353,54806,-,-,-,-,-,-,-,ー,ー,ー,ー,ー,ー,ー,-,-,－
17,NaN,⑶,その他,NaN,18154342,18216295,18234008,18936408,20012086,21726094,28358256,41358066,63511885,60120010,78687478,23700518,22610253,19530645,18816682,16340295,21836248,89519898,87510979,81986902,77698058,73542993
18,３．防 衛 関 係 費,NaN,NaN,NaN,4975677697,4982414986,4923268867,4931354728,4993022486,4943816744,4951477751,4921492949,4900978100,4838999823,4778565357,4823873909,4831771933,4678220145,4824861715,4770980200,4802875442,5073428675,5141147921,5162012628,5286811260,5487851505
19,４．国土保全及び開発費,NaN,NaN,NaN,9210198515,11052792039,11083969090,10236076779,9272010124,7963231929,8248139969,8055495328,7942207471,6937891934,6576189506,6314345042,7562815928,5670372003,6422748987,5761729805,7887098236,7218035719,6387967080,6746035521,6894955678,6971474840
20,NaN,⑴,国土保全費,NaN,1721545393,2048317970,2007032641,1905879142,1681665637,1491943715,1532135722,1550967333,1372264386,1166257713,1207839514,1108593617,1710225549,852171805,901936274,843858285,1380337210,1163296905,1005727842,1127020588,1028938132,1091578347
21,NaN,⑵,国土開発費,NaN,6958533832,8356854944,8047536209,7634224452,7073334122,5995343956,6279771313,5929070213,5654324870,5103720304,4834852349,4827150645,5577784331,4569619640,4436959937,4017612175,5927713449,5622921120,5005197238,5195409024,5356030795,5248379432
22,NaN,⑶,災害対策費,NaN,391141566,501965174,692223621,545045814,363817506,318527513,280161705,385845654,713655812,464926629,340993608,210860372,120307028,109508094,605512540,746503357,446469955,217111910,185728064,249515094,333499401,442550864
23,NaN,⑷,試験研究費,NaN,30959085,24319316,30958173,38933772,33792900,31830630,43556664,43629057,40988613,38710387,39710574,47163287,49527978,48424323,51869175,49295376,49462684,55744293,49299430,48318822,49594809,49165936
24,NaN,⑸,その他,NaN,108018637,121334633,306218443,111993598,119399958,125586115,112514562,145983069,160973787,164276898,152793459,120577119,104971041,90648139,426471058,104460610,83114936,158961489,142014505,125771991,126892539,139800259
25,５．産 業 経 済 費,NaN,NaN,NaN,3240075324,4910396599,4011527035,4111681798,4026447612,5421252999,3213295564,3248391168,2998228230,2734879729,3159778905,3949330597,7643915744,4265026290,6661729113,4827678295,3563750596,3509288639,3368098750,3602752975,3157471367,3309277871
26,NaN,⑴,農林水産業費,NaN,1206587157,1252271517,1221337316,1221359331,1145645814,1144369374,1122007415,1178504622,1137020845,1074547250,1373071060,1525768562,1699720167,1577571490,1900064183,1904302947,1693693722,1475251108,1764817172,1561248382,1629895317,1588375531
27,NaN,⑵,商工鉱業費,NaN,1315778918,2296985217,1853123935,1981159488,1485677972,1544218866,1167016089,1215945264,1045085765,1025262180,1434363777,2111459087,5365096470,2232635850,4309777520,2529308441,1503287855,1714027146,1312462772,1747455643,1257064799,1444345004
28,NaN,⑶,運輸通信費,NaN,208374214,409892628,301480898,334461890,268274058,241109339,320667195,341798431,268579549,244865900,214357644,215789861,465418930,374458521,244926517,221851938,276095747,212621503,201620788,212357991,192966905,199478203
29,NaN,⑷,産業投資特別会計へ繰入,NaN,164913770,541385000,222877952,158560249,664460772,2033555558,102475841,119168989,178636456,48054000,20286000,-,ー,ー,ー,-,ー,ー,ー,-,-,－
30,NaN,⑸,物資及び物価調整費,NaN,344421263,409862235,412706933,416140838,462388994,457999862,501129022,392973859,368905613,342150398,117700423,96313086,113680177,80360428,206960893,172214968,90673272,107388881,89198017,81690957,77544344,77079133
31,６．教 育 文 化 費,NaN,NaN,NaN,6260078296,7063626594,6674731817,6729854185,6415160272,6452419946,6194742628,5920942390,5783164276,5010265630,5263336287,5280795114,5869946393,5751167767,5787564209,5750458806,5799489472,5534224817,5298923565,5355756145,5442152668,5480383874
32,NaN,⑴,学校教育費,NaN,5393743949,5923375885,5638045240,5612665712,5480839525,5498487609,5114354082,4851907469,4735025520,3954622830,4030796694,4028748377,4277937107,4435153637,4403657958,4360005951,4322831229,4184132336,4010909036,3997265117,4066936446,4015081795
33,NaN,⑵,社会教育及び文化費,NaN,156345841,166201032,155497370,190153526,115316587,122132929,159076242,138226284,138394620,134681163,135459729,143303986,240870820,165246423,141783529,151447233,144413091,160125694,144657397,157942229,175929358,149671080
34,NaN,⑶,科学振興費,NaN,695028475,969756924,879033323,925335049,816322995,829966014,920011468,925399214,904768692,918452821,1095938168,1107584491,1350860927,1150377063,1208770384,1200556780,1322407872,1188962523,1142164443,1196517792,1188002101,1302739709
35,NaN,⑷,災害対策費,NaN,14951030,4292751,2155883,1699897,2681165,1833394,1300835,5409422,4975442,2508815,1141695,1158259,277538,390642,33352337,38448841,9837279,1004263,1192687,4031006,11284762,12891289
36,７．社会保障関係費,NaN,NaN,NaN,17561071141,17968762998,21263060325,19678537861,21239728990,21086544927,21117117402,21794974830,21996015699,21640727380,22166744512,23538208996,30197536979,28941286551,31203701984,29998072927,29846674008,30858747059,31927683924,32837035963,33107303349,33108702649
37,NaN,⑴,社会保険費,NaN,9270396196,9032409327,10862332795,11380261712,14658715588,14838713496,15145960692,15693864008,16021117121,16154901543,16876379258,17752625357,21627034591,21203658477,22017175091,22176160679,22395684023,23316288715,23844252037,24162813487,24515306267,24771233204
38,NaN,⑵,生活保護費,NaN,1248688174,1297706827,1397921379,1483656288,1581977268,1676919113,1810222567,1940892202,1973779699,2006226935,1982010516,2047260619,2289059977,2459870813,2732261280,2774269105,2795120764,2800101773,2822880460,2825962544,2815581645,2763347070
39,NaN,⑶,社会福祉費,NaN,4366879520,4754427051,5956772531,4118305895,2005755822,1862655899,1977605995,1843226968,1873942309,1656781704,1605044700,1978524635,2690047261,2101858243,2237655219,2369653563,2239804504,2499103114,3060428107,3561728854,3566572817,2498038942
40,NaN,⑷,住宅対策費,NaN,1542271919,1638093203,1549380992,1338465634,1200500118,992455170,967276410,941670565,827416742,722012638,664292764,618217463,1084011146,237380022,170439650,126893928,137761485,230218816,149387651,159113953,165807948,154093020
41,NaN,⑸,失業対策費,NaN,34216887,94470991,344524832,96482292,435350349,544600054,38659756,37297701,35572754,38461734,32261388,180563672,824387637,445094917,461160874,259987009,165774964,22010118,20462851,21128138,16906520,17947210
42,NaN,⑹,保健衛生費,NaN,975636061,1032533677,1026914018,1030477020,1040545799,860047051,848474351,879994010,806543083,697427068,606711030,569989878,1290692754,783006044,885242821,499188288,591471852,581272391,623320586,608418593,627969676,650199220
43,NaN,⑺,試験研究費,NaN,68965463,74925152,77724981,82628142,103589866,97807442,114087320,107852938,103374956,105568013,110669924,116042098,115117717,114181752,109514599,116751060,123449367,123296437,73200631,68182517,73903393,65551809
44,NaN,⑻,災害対策費,NaN,17213267,8963574,10346465,7220686,3388509,1316752,2612688,31627951,11635501,4460306,14773440,2497436,1634904,31088862,869031862,327111214,70796686,5321916,5645323,119779230,61131019,49887828
45,NaN,⑼,その他,NaN,36803652,35233192,37142330,141040189,209905667,212029950,212217618,318548483,342633532,254887435,274601488,272487835,275550990,1565147418,1721220584,1348058077,1326810360,1281133776,1328106275,1309908642,1264124061,2138404341
46,８．恩 給 費,NaN,NaN,NaN,1596151284,1547474168,1484077623,1417383456,1349488549,1281190061,1206395114,1135318407,1064445266,991021774,939985622,855035066,779813857,708513660,637753224,569666324,503500370,442797202,386238253,334049209,285041547,240609426
47,NaN,⑴,文官恩給費,NaN,77805542,71651861,65927556,60724661,56228511,51363993,46737756,42678127,38765243,34335054,30951380,27425159,25562184,22011244,19179181,16881490,14909586,13078852,11266607,9779220,8483251,7339314
48,NaN,⑵,旧軍人遺族等恩給費,NaN,1405830065,1367620046,1320679417,1267923769,1211854232,1154019982,1089989785,1028766590,966051284,901858877,840079649,776771214,713941880,651424296,587699948,525214646,464917252,408930998,355956676,308118566,262608937,221515501
49,NaN,⑶,その他,NaN,112515677,108202261,97470650,88735026,81405806,75806086,69667572,63873689,59628739,54827843,68954592,50838692,40309792,35078120,30874094,27570187,23673530,20787351,19014969,16151421,13949358,11754611
50,９．国 債 費,NaN,NaN,NaN,15925814652,17698532948,20271924397,21446082307,15828895417,15600307856,15544023946,17514898571,18735950593,18036873531,19290408668,19166464213,18444821997,19543900165,19627720861,21010678991,21293507626,22185692730,22463534769,22085592882,22520820705,22528601809
51,10.経済危機対応・地域活性化予備費,NaN,NaN,NaN,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,ー,ー,ー,ー,ー,－
52,11.東日本大震災復旧・復興予備費,NaN,NaN,NaN,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,ー,ー,ー,ー,ー,－
53,12.熊本地震復旧等予備費,NaN,NaN,NaN,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,ー,ー,ー,ー,ー,－
54,12．予 備 費,NaN,NaN,NaN,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,-,ー,ー,ー,ー,ー,－
55,13．そ の 他,NaN,NaN,NaN,107446364,560720538,1946185898,117848770,114811714,116061688,131099215,137464675,134327404,132535572,126513456,596003290,3972807075,1998855325,1151337298,3127364837,4049324814,1944845682,1306542097,1017311678,950583079,940610781
56,合 計,NaN,NaN,NaN,78470310184,84391798185,89037431392,89321049910,84811128504,83674289924,82415970662,84896776304,85519592207,81445480694,81842570225,84697395043,100973424388,95312341707,100715409134,97087176621,100188878834,98813467430,98230324099,97541764842,98115604721,98974696544

In [29]:
df1 = df.iloc[5:56, :]
df1 = df1.drop(['Unnamed: 1', 'Unnamed: 3'], axis=1)
df1 = df1.reset_index(drop=True)
df1.columns = [f'col_{i}' for i in range(len(df1.columns))]

In [30]:
df1.head()

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,col_10,col_11,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,col_20,col_21,col_22,col_23
0,１．国 家 機 関 費,NaN,4089878933,4280839099,4273674613,4802768587,4845892598,4308629662,4382520701,4464313211,4460200856,4361194867,4530742429,4470410404,5074090225,4945147236,4928503182,4369555684,4867349264,4860631635,5061873526,4979956434,4825663205,4807859792
1,NaN,皇室費,6686157,6643501,6832632,9366209,7408714,7089358,6721568,6965778,6849417,6591482,6569224,6613183,6137774,5491398,6026580,5965628,5774431,6151561,5800414,5351842,6776077,9678519
2,NaN,国会費,123019403,131142130,138585747,146463865,154158813,133486528,127362960,127144108,123122693,122817737,122136741,122660956,126258243,151426912,135321370,128495174,125668672,132043907,134301666,132560410,133287519,136393763
3,NaN,選挙費,3534438,57491037,3258220,73263020,63135863,5853557,71775157,61379786,69799237,1328890,59141967,702891,68788324,52100534,319976,59452810,50432786,56412418,1643113,53738213,59832965,143469
4,NaN,司法、警察及び消防費,1319365876,1399227861,1408610493,1453162305,1410079489,1386978225,1390638515,1384424712,1411240550,1431981688,1468295392,1496556058,1533909368,1472709759,1597209034,1480602910,1524285156,1502880959,1514804508,1573470081,1560110218,1629272958

In [31]:
print(df1.iloc[46, 4:].unique())
print(df1.iloc[47, 4:].unique())
print(df1.iloc[48, 4:].unique())
print(df1.iloc[49, 4:].unique())

['-' 'ー' '－']
['-' 'ー' '－']
['-' 'ー' '－']
['-' 'ー' '－']

In [32]:
replace_strs = df1.iloc[46, 4:].unique()
df1 = df1.replace(replace_strs, 0)

In [33]:
df1.tail()

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,col_10,col_11,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,col_20,col_21,col_22,col_23
46,10.経済危機対応・地域活性化予備費,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
47,11.東日本大震災復旧・復興予備費,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
48,12.熊本地震復旧等予備費,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
49,12．予 備 費,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
50,13．そ の 他,NaN,107446364,560720538,1946185898,117848770,114811714,116061688,131099215,137464675,134327404,132535572,126513456,596003290,3972807075,1998855325,1151337298,3127364837,4049324814,1944845682,1306542097,1017311678,950583079,940610781

In [34]:
df1['main_title'] = df1['col_0'].fillna(method='ffill')
df1.head()

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,col_10,col_11,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,col_20,col_21,col_22,col_23,main_title
0,１．国 家 機 関 費,NaN,4089878933,4280839099,4273674613,4802768587,4845892598,4308629662,4382520701,4464313211,4460200856,4361194867,4530742429,4470410404,5074090225,4945147236,4928503182,4369555684,4867349264,4860631635,5061873526,4979956434,4825663205,4807859792,１．国 家 機 関 費
1,NaN,皇室費,6686157,6643501,6832632,9366209,7408714,7089358,6721568,6965778,6849417,6591482,6569224,6613183,6137774,5491398,6026580,5965628,5774431,6151561,5800414,5351842,6776077,9678519,１．国 家 機 関 費
2,NaN,国会費,123019403,131142130,138585747,146463865,154158813,133486528,127362960,127144108,123122693,122817737,122136741,122660956,126258243,151426912,135321370,128495174,125668672,132043907,134301666,132560410,133287519,136393763,１．国 家 機 関 費
3,NaN,選挙費,3534438,57491037,3258220,73263020,63135863,5853557,71775157,61379786,69799237,1328890,59141967,702891,68788324,52100534,319976,59452810,50432786,56412418,1643113,53738213,59832965,143469,１．国 家 機 関 費
4,NaN,司法、警察及び消防費,1319365876,1399227861,1408610493,1453162305,1410079489,1386978225,1390638515,1384424712,1411240550,1431981688,1468295392,1496556058,1533909368,1472709759,1597209034,1480602910,1524285156,1502880959,1514804508,1573470081,1560110218,1629272958,１．国 家 機 関 費

In [35]:
col0_has_value = df1['col_0'].dropna()
df_big = df1.iloc[col0_has_value.keys(), :].dropna(1)
col_data = [year for year in range(1997, 2019)]
col_data.insert(0, 'title')
col_data.insert(len(col_data), 'main_title')
df_big.columns = col_data
df_big = df_big.reset_index(drop=True)

In [36]:
col0_has_value

0            １．国 家 機 関 費
9            ２．地 方 財 政 費
13           ３．防 衛 関 係 費
14           ４．国土保全及び開発費
20           ５．産 業 経 済 費
26           ６．教 育 文 化 費
31             ７．社会保障関係費
41             ８．恩　　給　　費
45             ９．国　　債　　費
46    10.経済危機対応・地域活性化予備費
47     11.東日本大震災復旧・復興予備費
48         12.熊本地震復旧等予備費
49            12．予　　備　　費
50            13．そ　　の　　他
Name: col_0, dtype: object

In [37]:
df_big.head()

,title,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,main_title
0,１．国 家 機 関 費,4089878933,4280839099,4273674613,4802768587,4845892598,4308629662,4382520701,4464313211,4460200856,4361194867,4530742429,4470410404,5074090225,4945147236,4928503182,4369555684,4867349264,4860631635,5061873526,4979956434,4825663205,4807859792,１．国 家 機 関 費
1,２．地 方 財 政 費,15503917972,14326238212,13105011723,15849461435,16725670735,16500834094,17427158365,17703484772,17504074308,16761090449,15010305478,15702928407,16595904253,18809852561,19469488558,16900990748,17575309002,17185775269,16888314210,15421261402,15644801858,16099323993,２．地 方 財 政 費
2,３．防 衛 関 係 費,4975677697,4982414986,4923268867,4931354728,4993022486,4943816744,4951477751,4921492949,4900978100,4838999823,4778565357,4823873909,4831771933,4678220145,4824861715,4770980200,4802875442,5073428675,5141147921,5162012628,5286811260,5487851505,３．防 衛 関 係 費
3,４．国土保全及び開発費,9210198515,11052792039,11083969090,10236076779,9272010124,7963231929,8248139969,8055495328,7942207471,6937891934,6576189506,6314345042,7562815928,5670372003,6422748987,5761729805,7887098236,7218035719,6387967080,6746035521,6894955678,6971474840,４．国土保全及び開発費
4,５．産 業 経 済 費,3240075324,4910396599,4011527035,4111681798,4026447612,5421252999,3213295564,3248391168,2998228230,2734879729,3159778905,3949330597,7643915744,4265026290,6661729113,4827678295,3563750596,3509288639,3368098750,3602752975,3157471367,3309277871,５．産 業 経 済 費

In [38]:
col1_has_value = df1['col_1'].dropna()
df_detail = df1.iloc[col1_has_value.keys(), :].dropna(1)
df_detail.columns = col_data
df_add = df_big.iloc[[2, 8, 9, 10, 11, 12, 13], :]
df_detail = pd.concat([df_detail, df_add])
df_detail = df_detail.reset_index(drop=True)

In [39]:
df_detail.head()

,title,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,main_title
0,皇室費,6686157,6643501,6832632,9366209,7408714,7089358,6721568,6965778,6849417,6591482,6569224,6613183,6137774,5491398,6026580,5965628,5774431,6151561,5800414,5351842,6776077,9678519,１．国 家 機 関 費
1,国会費,123019403,131142130,138585747,146463865,154158813,133486528,127362960,127144108,123122693,122817737,122136741,122660956,126258243,151426912,135321370,128495174,125668672,132043907,134301666,132560410,133287519,136393763,１．国 家 機 関 費
2,選挙費,3534438,57491037,3258220,73263020,63135863,5853557,71775157,61379786,69799237,1328890,59141967,702891,68788324,52100534,319976,59452810,50432786,56412418,1643113,53738213,59832965,143469,１．国 家 機 関 費
3,司法、警察及び消防費,1319365876,1399227861,1408610493,1453162305,1410079489,1386978225,1390638515,1384424712,1411240550,1431981688,1468295392,1496556058,1533909368,1472709759,1597209034,1480602910,1524285156,1502880959,1514804508,1573470081,1560110218,1629272958,１．国 家 機 関 費
4,外交費,831845677,861739833,888920739,865866900,864050579,810000539,844190419,905133307,836553817,847587839,880421187,914480244,955076436,879664492,821449422,783527090,850286829,870024473,906512055,924167345,888687574,878467212,１．国 家 機 関 費

In [40]:
df_detail.to_csv('data/zaisei_detail.csv')